<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>groceries</title>

	<style>
		.ofertas{
		font-size: 2em;
		color:#F15D54;
		background-color: #f4eea4;
		padding:1em;
		border-radius: .2em;
		text-align: center;
	}
	
	
	
	.logo{
		width:20%;
		margin: 0 auto;
		margin-left: 40%;
		align-items: center;
		padding: 0;
	}
	.welcome{
		color: #FF4500;
		font-size: 4em;
		text-align: center;
		
	}
	
	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.minic{
		width: 31%;
		text-align: center;
		background-color:#F4E4E6;
		height: auto;
		margin: 10px 10px;
		font-weight: 700;
		font-size: 1.5em;
		color:#F15D54;
		border-radius: 10px;
	}
	
	.minid{
		width: 31%;
		text-align: center;
		background-color:#f4eea4;
		height: auto;
		margin: 10px 10px;
		font-weight: 700;
		font-size: 1.5em;
		color:#F15D54;
		border-radius: 10px;
	}
	
	.picture{
		width: 80%;
		align-items: center;
	}
	
	.title{
		color: #FF4500;
		font-size: 2em;
		text-align: center;
	}
	
	.minip{
		width: 29%;
		text-align: center;
		background-color:#f4eea4;
		height: 100%;
		margin:10px;
		font-weight: 700;
		font-size: 1.2em;
		color:#ff647e;
		border-radius: 10px;
		padding: 1em;
		
	}
	
	.product{
		width: 65%;
		align-items: center;
		padding-top: 1em;
	}
	
	.container2{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	
	.banner{
		width: 85%;
		padding:20px 20px;
	}
	
	.half{
		width: 45%;
	}
	
	.halfbanner{
		width: 40%;
	  
	}
	
	form{
		background-color: #f4eea4;
		width: 100%;
		padding: 2em;
	}
	
	.container3{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	.back{
		margin-left: 1.5em;
		text-decoration: none;
		color: #F15D54;
	}
	
	.button{
		width: 80%;
	}
	
	button{
		width: 80%;
	}
	
	.barcode{
		font-size: .5em;
	}
	
	
	
	@media screen and (max-width:500px) {
		.ofertas{
			font-size: 1em;
			color:#F15D54;
			background-color: #f4eea4;
			padding:1em;
			border-radius: .2em;
			text-align: center;
		}
	
		.container, .container3, .container2{
			flex-direction: column;
			align-items: center;
		} 
		.minic, .minid{
			width: 90%;
			font-size: 1.5em;
			
		}
	
		.logo{
			width:30%;
		}
	
		.minip{
			font-size: 1em;
			padding: .5em;
			height: 100%;
			width: 42%;
			margin: 5px;
			align-content: center;
		
		}
	
		.half{
			width: 60%;
			padding: .5em;
		}
	
	}
	
	</style>
</head>

<body>
    <div data-role="page" >
        <div data-role="header">
            <h1>groceries</h1>
            <div data-role="navbar" data-grid="c">
				<ul>
                    <li><a href="/api/products">Inicio</a></li>
					<li><a href="/api/products/products" class="ui-button-active">Productos</a></li>
					<li><a href="/api/products/pedidos" >Mix semanal</a></li>
					<li><a href="/api/products/contacto">Contacto</a></li>
				</ul>
			</div><!-- /navbar -->

            <div role="main" class="ui-content">
                <img class="logo" src="https://i.ibb.co/9cjVDS2/logo.png" alt="logo">
                <p><a href="#index" class="back">Regresar</a></p>
                
        
                <div class="container2">
                    <div class="minip">
                        <img class="product" src="https://i.ibb.co/2szCLCK/zanahoria.png" alt="zanahoria">
                        <p>Zanahorias kg</p>
                        <p class="barcode">Código: 2345</p>
                        <p>Precio: $25</p>
                        <button class="button">Agregar</button>
                        
                    </div>
                    <div class="minip">
                        <img class="product" src="https://i.ibb.co/V2hFD6J/bananas.png" alt="bananas" >
                        <p>Plátano kg</p>
                        <p class="barcode">Código: 2346</p>
                        <p>Precio: $29</p>
                        <button>Agregar</button>
                    </div>
                    <div class="minip">
                        <img class="product" img src="https://i.ibb.co/wrjPJF3/berenjena.png" alt="berenjena" >
                        <p>Berenjena kg </p>
                        <p class="barcode">Código: 2347</p>
                        <p>Precio: $49</p>
                        <button>Agregar</button>
                    </div>
                    
                    <div class="minip">
                        <img class="product" src="https://i.ibb.co/92KSkJ5/esparragos.png" alt="esparragos">
                        <p>Esparragos 300g</p>
                        <p class="barcode">Código: 2356</p>
                        <p>Precio: $49</p>
                        <button>Agregar</button>
                    </div>
                    <div class="minip">
                        <img class="product" src="https://i.ibb.co/1nnghwj/galletas.png" alt="galletas" >
                        <p>Galletas de avenas 150g</p>
                        <p class="barcode">Código: 2455</p>
                        <p>Precio: $19</p>
                        <button>Agregar</button>
                    </div>
                    <div class="minip">
                        <img class="product" src="https://i.ibb.co/zH8tLz6/limon.png" alt="limon" >
                        <p>Limón kg</p>
                        <p class="barcode">Código: 2456</p>
                        <p>Precio: $39</p>
                        <button>Agregar</button>
                    </div>
                    <div class="minip">
                        <img class="product" src="https://i.ibb.co/2nzTCxb/tomate.png" alt="tomate"  >
                        <p>Jitomate kg</p>
                        <p class="barcode">Código: 2478</p>
                        <p>Precio: $25</p>
                        <button>Agregar</button>
                    </div>
                    <div class="minip">
                        <img class="product" src="https://i.ibb.co/SDTrFkc/carne.png" alt="carne" >
                        <p>Bistec por kilo</p>
                        <p class="barcode">Código: 2344</p>
                        <p>Precio: $120 a $199</p>
                        <form>
                            <div class="ui-field-contain">
                                <label for="select-native-17">Elegir:</label>
                                <select name="select-native-17" id="select-native-17">
                                    <option value="1">Bistec de Res</option>
                                    <option value="2">Bistec de Puerto</option>
                                    <option value="3" selected="selected">Bistec de pollo</option>
                                </select>
                            </div>
                            </form>
                    </div>
                    <div class="minip">
                        <img class="product" src="https://i.ibb.co/8sMfvv0/encurtidos.png" alt="encurtidos" >
                        <p>Encurtidos 200g</p>
                        <p class="barcode">Código: 2367</p>
                        <p>Precio: $70</p>
                        <form>
                            <div class="ui-field-contain">
                                <label for="select-native-17">Elegir:</label>
                                <select name="select-native-17" id="select-native-17">
                                    <option value="1" selected="selected">Pechuga de pavo</option>
                                    <option value="2">Tocino ahumado</option>
                                    <option value="3" >Pepperoni</option>
                                </select>
                            </div>
                        </form>
                    </div>
        
                </div>
                
            
            </div><!-- /content -->s
            <div data-role="footer">
                <div class="container3">
                    <p>Vicente Guerrero 19, Col. Centro Xicotepec de Juárez</p>
                    <p>764 100 2955</p>	
                    <p>Derechos Reservados 2024</p>	
            </div>
            </div><!-- /footer -->
        </div><!-- /page -->
    </body>
    </html>